<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Kushau - Lo mejor en PC </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Conectar mi CSS -->
    <link rel="stylesheet" href="{% static 'Inicio/css/estilo-index.css' %}">
    <link rel="stylesheet" href="{% static 'Inicio/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'Inicio/css/estilo-registro.css'%}">
    <!--Fuente 'Quicksand'-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <!--Font Awesome para los icons-->
    <script src="https://kit.fontawesome.com/1877fd7acc.js" crossorigin="anonymous"></script>

</head>
<body>
    <section class="compsyper">
        <div class="container">
            <div class="text-start boton-volver">
                <a href="{% url 'menu_admin' %}" class="boton btn btn-primary">Volver</a>
            </div>
            <h1 class="text-break">Acá podrás encontrar las categorias de los productos que quieras modificar o eliminar &#128293;</h1>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-dismiss="alert">&times;</button>
                <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <div class="row align-items-center">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <article class="caja"> 
                        <a href="{% url 'micadmin' 'admin' %}"><img src="{% static 'Inicio/img/img-index/microfono.jpg' %}" alt="microfono gamer" class="img-fluid" id="img"></a>
                        <p class="txtcaja">MICRÓFONOS</p>
                    </article>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <article class="caja">
                        <a href="{% url 'tecladoadmin' 'admin' %}"><img src="{% static 'Inicio/img/img-index/teclado.jpg' %}" alt="teclado gamer" class="img-fluid" id="img"></a>
                        <p class="txtcaja"> TECLADOS</p>
                    </article>
                </div>
                <div class="col-xl-4 col-md-12 col-sm-12">
                    <article class="caja">
                        <a href="{% url 'mouseAdmin' 'admin' %}"><img src="{% static 'Inicio/img/img-index/mouse.jpg' %}" alt="mouse gamer" class="img-fluid" id="img"></a>
                        <p class="txtcaja"> MOUSE GAMER</p>
                    </article>
                </div>
                
            </div>
        </div>
    </section>    
    <section class="compsyper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <article class="caja">
                        <a href="{% url 'graficaAdmin' 'admin' %}"><img src="{% static 'Inicio/img/img-index/grafica.png' %}" alt="tarjeta grafica" class="img-fluid" id="img"></a>
                        <p class="txtcaja"> TARJETAS GRÁFICAS</p>
                    </article>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <article class="caja">
                        <a href="{% url 'procesadorAdmin' 'admin' %}"><img src="{% static 'Inicio/img/img-index/procesador.jpg' %}" alt="Procesador PC" class="img-fluid" id="img"></a>
                        <p class="txtcaja"> PROCESADORES</p>
                    </article>
                </div>
                <div class="col-xl-4 col-md-12 col-sm-12">
                    <article class="caja">
                        <a href="{% url 'ramAdmin' 'admin' %}"><img src="{% static 'Inicio/img/img-index/rampc.jpg' %}" alt="trident z rgb" class="img-fluid" id="img"></a>
                        <p class="txtcaja">MEMORIAS</p>
                    </article>
                </div>
                
            </div>
        </div>
    </section>     
    <footer class="pie-pagina ">

        <div class="container">
            <div class="grupo-1 text-center">
                <div class="row">
    
                    <div class="col-6">
                        <div class="box">
                            <h2>Sobre nosotros</h2>
                            <ul class="lista">
                                <li>13 finos</li>
                                <li>Robamos terrible maldito y de menor</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="box">
                            <h2>Síguenos en nuestras redes</h2>
                            <div class="red-social">
                                <a href="#" class="fa fa-facebook redes-sociales"></a>
                                <a href="#" class="fa fa-instagram redes-sociales"></a>
                                <a href="#" class="fa fa-twitter redes-sociales"></a>
                                <a href="#" class="fa fa-youtube redes-sociales"></a>
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 <b>HSC Componentes</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{%static 'Inicio/js/v-registro_sesion.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
