body
{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    background-color: rgb(40, 3, 126);
    color: #fff;
}
.datos
{
    padding: 8px;
    font-weight: bold;
    
}
/*Botón de agregar producto*/
.boton
{
    
    margin-top: 10px;
}
/*Botón para volver al menú principal*/
.boton-volver
{
    margin-bottom: 20px;
}

.btn-primary{
    background-color: rgb(60, 98, 192);
    outline: none;
    border: 0px;
    box-shadow: none;
    border-radius: 2px solid;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: rgb(39, 71, 153);
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

/*Color de las validaciones*/
#mensajes1{
    color: #ff606e;
}


.caja
{
    margin-left: 50px;
    margin-right: 50px;
}
.negritas
{
    font-weight: bold;
}
.table,th
{
    margin-top: 20px;

}

.table{
    font-size: 20px;
}